@import "../settings/breakpoints";
@import "../settings/fonts";
.container {
  max-width: 75rem;
  margin: 0 auto;
  color: var(--white);
  padding: 0 2rem 4.5rem;
  @include max-desktop {
    padding: 0 6.25rem 6.25rem;
  }
  @include wide {
    padding: 0 6.25rem 11.25rem;
  }
  .section-title {
    margin-bottom: 0.5rem;
    @include max-tablet {
      margin-bottom: 3rem;
    }
    @include max-desktop {
      font-size: 3.75rem;
    }
  }
}
.description-section {
  padding-top: 6.25rem;
  font-family: var(--font-base), sans-serif;
  font-size: 0.75rem;
  margin: 0 auto;
  @include max-tablet {
    padding-top: 9.375rem;
    font-size: 1rem;
  }
  @include max-desktop {
    font-size: 1rem;
    max-width: 75rem;
  }
  .description-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    .description-text-group {
      p {
        background-color: var(--green2);
        padding: 2rem;
        border-radius: 2rem 0;
        opacity: 0;
        animation: popSlideRotate 1s cubic-bezier(0.23, 1, 0.32, 1) forwards;
      }
    }
    .description-image {
      width: 6.25rem;
    }
    .description-text-group {
      .description-text {
        line-height: 1.25rem;
        @include max-tablet {
          line-height: 2rem;
        }
      }
    }
    @include max-tablet {
      gap: 2rem;
      .description-image {
        width: 12.5rem;
        @include max-desktop {
          width: 18.75rem;
        }
      }
    }
  }
}
.studies-section {
  h3, p {
    font-size: 0.75rem;
    line-height: 1.5rem;
    @include max-tablet {
      font-size: 1rem;
    }
  }
  .studies-timeline {
    margin-top: 1rem;
    @include max-desktop {
      gap: 1.5rem;
    }
    li {
      gap: 3.5rem;
      padding: 2rem 0;
      .js & {
        transform: translateY(2rem);
      }
      @include max-desktop {
        padding: 3rem 0;
      }
      .studies-timeline li:not(:last-child) {
        margin-bottom: 3rem;
      }
      .placement {
        gap: 1rem;
        @include max-desktop {
          gap: 2rem;
        }
      }
      .studies {
        gap: 0.5rem;
      }
    }
    time {
      font-size: 2rem;
      @include tablet {
        font-size: 3rem;
      }
      @include max-desktop {
        font-size: 4rem;
      }
    }
  }
}
.design-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  .design {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .timeline {
    width: 80%;
    height: auto;
    max-width: 50rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    .timeline-content {
      padding: 1.75rem;
      background-color: var(--pink);
      box-shadow: 0.3125rem 0.3125rem 0.625rem #1a1a1a, -0.3125rem -0.3125rem 0.625rem #242424;
      border-radius: 0.375rem;
      color: white;
      transition: 0.4s ease;
      overflow-wrap: break-word !important;
    }
    .timeline-component {
      margin: 0 1.25rem 1.25rem 1.25rem;
    }
  }
  @include max-tablet {
    .timeline {
      display: grid;
      grid-template-columns: 1fr 0.1875rem 1fr;
      .timeline-middle {
        position: relative;
        background-image: linear-gradient(45deg, var(--pink), var(--pink2));
        width: 0.1875rem;
        height: 100%;
      }
      .main-middle {
        opacity: 0;
      }
      .timeline-circle {
        position: absolute;
        top: 0;
        left: 50%;
        width: 0.9375rem;
        height: 0.9375rem;
        border-radius: 50%;
        background-image: linear-gradient(45deg, var(--pink), var(--pink2));
        transform: translateX(-50%);
      }
    }
  }
}
.skills-section {
  font-family: var(--font-base), sans-serif;
  .skills-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5rem;
    max-width: 62.5rem;
    margin: 2.5rem auto;
    text-align: center;
    @include max-desktop {
      grid-template-columns: repeat(2, 1fr);
    }
    .skill-card {
      background-color: var(--beige);
      padding: 1.5rem;
      border-radius: 3.5rem 0;
      color: var(--black);
      opacity: 1;
      transform: translateX(0);
      transition: background-color 0.3s ease-in-out, transform 0.6s ease-out, opacity 0.6s ease-out;
      .js & {
        opacity: 0;
        transition: opacity 0.6s ease, transform 0.6s ease;
        &.from-left {
          transform: translateX(-3rem);
        }
        &.from-right {
          transform: translateX(3rem);
        }
        &.in-view {
          opacity: 1;
          transform: translateX(0);
        }
      }
      &:hover {
        transform: scale(1.03);
        background-color: var(--green);
      }
      .skill-list {
        padding-top: 1.25rem;
        li {
          padding-bottom: 0.75rem;
          font-size: 1rem;
        }
      }
      .skill-title {
        font-size: 1.5rem;
        position: relative;
        display: inline-block;
        @include mobile {
          font-size: 1.25rem;
        }
      }
      @include max-desktop {
        padding: 2.5rem 1.25rem;
        border-radius: 4.5rem 0;
        .skill-title {
          font-size: 2rem;
        }
      }
    }
  }
}
