@import "../settings/breakpoints";

footer {
  color: var(--white);
  font-family: var(--font-base);
  .footer-container{
    padding: 32px 16px 0;
    @include max-desktop{
      max-width: 1200px;
      margin: 0 auto;
    }
  }
  .footer_top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.5rem;
    font-weight: 300;
    @include desktop{
      padding: 0 100px 24px ;
    }

    .left_footer,
    .center_footer,
    .right_footer {
      flex: 1;
      min-width: 200px;
    }

    .left_footer {
      .footer_logo {
        display: block;
        margin-bottom: 2rem;

        svg{
          width: 120px;
          @include max-tablet{
            width: 150px;
          }
        }
      }

      .socials {
        ul {
          display: flex;
          gap: 1rem;
          padding: 0;
        }
      }
    }

    .center_footer {
      ul {
        padding: 0;
      }

      li {
        padding-bottom: 24px;
      }
    }

    .right_footer {
      margin-top: 0;
      p {
        margin-bottom: 16px;
        line-height: 24px;
      }
      @include mobile{
        margin-top: 16px;
      }
    }
  }

  .footer_bottom {
    display: flex;
    justify-content: space-between;
    opacity: 0.5;
    font-size: 12px;
    @include desktop{
      padding: 12px 100px 24PX;
    }
  }
  span {
    color: var(--pink);
  }
}

