@import "../settings/breakpoints";

footer {
  color: var(--white);

  .footer_top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 0 32px 12px;
    font-weight: 300;
    @include desktop{
      padding: 0 100px 24px ;
    }

    .left_footer,
    .center_footer,
    .right_footer {
      flex: 1;
      min-width: 200px;
    }

    .left_footer {
      .footer_logo {
        display: block;
        margin-bottom: 2rem;

        svg{
          width: 120px;
          @include max-tablet{
            width: 150px;
          }
        }
      }

      .socials {
        ul {
          display: flex;
          gap: 1rem;
          padding: 0;
        }
      }
    }

    .center_footer {
      ul {
        padding: 0;
      }

      li {
        padding-bottom: 24px;
      }
    }

    .right_footer {
      p {
        margin-bottom: 16px;
        line-height: 24px;
      }

      a {

      }
    }
  }

  .footer_bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 12px 32px 12px;
    border-top: #aaaaaa 1px solid;
    opacity: 0.5;
    @include desktop{
      padding: 12px 100px 24PX;
    }
  }
  span {
    color: var(--pink);
  }
}

