@import "../settings/breakpoints";

.mentions-container{
  margin: 0 auto;
  color: var(--white);
  padding: 120px 32px 40px;
  max-width: 900px;
  @include max-desktop{
    padding: 150px 50px;
  }
  .mentions-ctn{
    margin-top: 60px;
    h2{
      margin-bottom: 24px;
    }
  }
  h1{
    font-family: var(--font-title);
    font-size: 60px;
    @include mobile{
      font-size: 32px;
    }
  }
}