@import "../settings/breakpoints";

.mentions-container {
  margin: 0 auto;
  color: var(--white);
  padding: 120px 32px 40px;
  max-width: 900px;
  @include max-desktop {
    padding: 150px 50px;
  }

  p, li {
    font-family: var(--font-base);
    font-size: 18px;
    line-height: 24px;
    @include mobile {
      font-size: 16px;
    }
  }

  .mentions-ctn {
    margin-top: 60px;

    h2 {
      margin-bottom: 24px;
    }
  }

  h1 {
    font-family: var(--font-title);
    font-size: 60px;
    @include mobile {
      font-size: 32px;
    }
  }
  .mentions-flower img{
    display: none;
  }
@include max-desktop{
  .mentions-flower img {
    float: right;
    width: 270px;
    margin-left: 20px;
    animation: float-up-down 4s ease-in-out infinite;
    display: block;
  }

  @keyframes float-up-down {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
}

}