@import "../settings/breakpoints";

.works-section{
  color: white
}
.project-filters {
  display: flex;
  gap: 16px;
  list-style: none;
  margin-bottom: 32px;

  li a {
    text-decoration: none;
    padding: 6px 12px;
    background-color: var(--green);
    color: white;
    border-radius: 6px;
    transition: 0.3s;


  }
}

.project-card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 40px;

  .project-img img {
    max-width: 100%;
    border-radius: 12px;
  }
}
